/* General Styles */

.search-container {
  max-width: 600px;
  margin: 0 auto;
}

$place-radius: 8px;
$place-overlay-gradient: linear-gradient(
  to top,
  rgba(0, 0, 0, 0.9) 0%,
  rgba(0, 0, 0, 0.7) 40%,
  rgba(0, 0, 0, 0.4) 70%,
  rgba(0, 0, 0, 0) 100%
);
$place-text-color: #fff;

.place-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 300px;
  gap: 2rem;
  justify-content: center;
  padding: 20px;
  overflow-y: auto;  /* Permette lo scroll */
}



.place-card {
  position: relative;
  width: 200px; /* Impostato a 100px di larghezza */
  height: 200px; /* Impostato a 100px di altezza */
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: $place-radius;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.05); /* Leggero ingrandimento all'hover */
  }

  a.image-link {
    display: block;
    position: relative;
    text-decoration: none;

    img.place-image {
      width: 200px;
      height: 200px;
      object-fit: cover;
      display: block;
    }
    

    .place-name-overlay {
      bottom: 0;
      width: 100%;
      padding: 4px 5px;
      color: $place-text-color;
      text-align: center;
      font-weight: bold;
      font-size: 0.8rem; /* Ridotto per adattarsi meglio alla dimensione piccola */
      border-bottom-left-radius: $place-radius;
      border-bottom-right-radius: $place-radius;
    }

    .place-info {
      text-align: center;
      font-size: 0.85rem;
      padding: 8px 4px;
      color: #333;
      border-radius: $place-radius;
      margin-top: 0.5rem;
    }    
  }
}

