// src/styles/variables.scss
@font-face {
    font-family: 'SF Pro Text';
    src: url('../../public/assets/fonts/SF-Pro-Text-Thin.otf') format('opentype');
    font-weight: 100; /* Peso del font, puoi modificarlo se necessario */
    font-style: normal;
}


$font-family-base: 'SF Pro Text', sans-serif; 
