<div class="search-bar-container">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="searchQuery"
        (input)="onSearch()"
        (keyup.enter)="onSearch()"
        placeholder="Cerca un cocktail..."
      />
    </div>
  
    <div class="filters">
      <div class="filter">
        <label for="category">Categoria</label>
        <select
          id="category"
          class="form-control"
          [(ngModel)]="selectedCategory"
          (change)="onSearch()"
        >
          <option value="">Tutte</option>
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>
      </div>
  
      <div class="filter">
        <label for="ingredient">Ingrediente</label>
        <select
          id="ingredient"
          class="form-control"
          [(ngModel)]="selectedIngredient"
          (change)="onSearch()"
        >
          <option value="">Tutti</option>
          <option *ngFor="let ingredient of ingredients" [value]="ingredient">
            {{ ingredient }}
          </option>
        </select>
      </div>
  
      <div class="filter">
        <label for="glass">Bicchiere</label>
        <select
          id="glass"
          class="form-control"
          [(ngModel)]="selectedGlass"
          (change)="onSearch()"
        >
          <option value="">Tutti</option>
          <option *ngFor="let glass of glasses" [value]="glass">
            {{ glass }}
          </option>
        </select>
      </div>
    </div>
  </div>
  