<nav class="navbar navbar-light d-flex flex-column position-fixed h-100 justify-content-between align-items-center container m-auto">
  <div class="row">
    <!-- Logo -->
    <div class="col d-flex justify-content-center align-items-center mt-3">
      <img src="/assets/logo-no-back.svg" alt="logo-no-background" class="img-fluid align-self-start" width="50px"/>
    </div>

    <!-- Icona Home -->
    <div class="col-12 d-flex align-items-center">
      <button class="btn border-0 shadow-none mt-4 m-auto" routerLink="/">
        <ng-icon name="heroHome" class="text-green-500" style="width: 30px; height: 30px"></ng-icon>
      </button>
    </div>
    
    <!-- Icona Cocktails -->
    <div class="col-12 d-flex align-items-center" routerLink="/cocktails">
      <button class="btn border-0 shadow-none mt-4 m-auto">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 30px; height: 30px;">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3h10.5M6.75 3l1.5 15a1.5 1.5 0 001.49 1.35h4.52a1.5 1.5 0 001.49-1.35l1.5-15M6.75 3h10.5M8.25 8h7.5" />
        </svg>
      </button>
    </div>

    <!-- Icona Esplora -->
    <div class="col-12 d-flex align-items-center" routerLink="/places">
      <button class="btn border-0 shadow-none mt-4 m-auto">
        <ng-icon name="heroMapPin" style="width: 30px; height: 30px;"></ng-icon>
      </button>
    </div>

    <!-- Icona Aggiungi Recensione -->
    <div class="col-12 d-flex align-items-center" routerLink="/add-review">
      <button class="btn border-0 shadow-none mt-4 m-auto">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 30px; height: 30px;">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </button>
    </div>
  </div>
 


  <!-- Contenuto Navbar -->
  <div id="navbarSupportedContent" class="row d-flex flex-column justify-content-end">

    <!-- Icona utente (se autenticato) -->
    <div *ngIf="isAuthenticated" class="position-relative dropdown dropend mb-3">
      <button class="btn p-0 border-0 shadow-none" [class.show]="showDropdown" (click)="toggleDropdown()" type="button" aria-expanded="false">
        <div class="user-initial" [ngStyle]="{ 'background-color': userColor }">
          {{ userInitial }}
        </div>
      </button>
    
      <ul class="dropdown-menu show" [ngStyle]="{ display: showDropdown ? 'block' : 'none', top: '-70px', left: '100%' }" style="position: absolute;">
        <li><a class="dropdown-item" routerLink="/profile">Profilo</a></li>
        <li><a class="dropdown-item" routerLink="/my-drinks">I miei drink</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
      </ul>
    </div>

    <!-- Icona utente (se non autenticato) -->
    <div *ngIf="!isAuthenticated" class="mb-3">
      <button (click)="toggleLoginForm()" class="btn p-0 border-0 shadow-none">
        <ng-icon name="heroUserCircle" class="text-green-500" style="width: 50px; height: 50px"></ng-icon>
      </button>
    </div>
  </div>
</nav>

<!-- Overlay per il login -->
<div *ngIf="showLoginForm" class="overlay" (click)="toggleLoginForm()">
  <div class="login-form-container position-relative" (click)="$event.stopPropagation()">
    <app-login-form 
    *ngIf="!showRegisterForm"
    (loginSuccess)="onLoginSuccess()" 
    (closeForm)="toggleLoginForm()"
    (switchToRegister)="showRegisterForm = true">
  </app-login-form>
  <app-register-form
    *ngIf="showRegisterForm"
    (closeForm)="toggleLoginForm()"
    (switchToLogin)="showRegisterForm = false">
  </app-register-form>
  </div>
</div>
