/* Overlay che copre tutta la pagina */
.navbar {
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f5;
  top: 0;
  width: 80px;
  height: 100vh;
}
.overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Il form di login sarà centrato nell'overlay */
.login-form-container {
  z-index: 500;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0.4, 0.4, 0.4, 0.4);
  max-width: 400px;
  width: 100%;
}

.user-initial {
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.dropdown-menu {
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  background-color: none;
  border-radius: 20px;
  cursor: pointer;
}
