<div class="home-container" [class.hidden]="scrolled" #homeSection>
  <div class="overlay" [class.hidden]="scrolled">
    <h1 class="home-title text-center animate-title">
      Welcome on <span class="gradient-text">Cocktail Débâcle</span>,<br />
      scroll down for more!
    </h1>
    <div class="scroll-arrow" *ngIf="showArrow">
      <span>&#x2193;</span>
    </div>
  </div>
  
</div>
<!-- SEZIONE 1 -->
<div class="discover-section">
  <h2 class="discover-text">So many cocktails, discover them all!</h2>
  <app-carousel></app-carousel>
</div>

<!-- SEZIONE 2: nuova immagine -->
<div class="image-section">
  <div class="overlay">
    <h2 class="section-title">Find the best places to drink your favorite cocktails</h2>
    <div class="bento-grid">
      <ng-container *ngFor="let place of places; let i = index">
        <!-- Prima card speciale -->
        <div *ngIf="i === 3" class="bento-box box-4 gradient-card">
          <div class="box-overlay static-text">
            <div class="main-text">Discover the places near you</div>
            <div class="sub-text">Click on one of the boxes</div>
          </div>
        </div>
    
        <!-- Seconda card speciale -->
        <div *ngIf="i === 5" class="bento-box box-6 gradient-card" [routerLink]="['/places']" style="cursor: pointer;">
          <div class="box-overlay static-text">
            <div class="main-text">Find more</div>
            <div class="sub-text">by clicking here</div>
          </div>
        </div>
    
        <!-- Card con dati dinamici -->

        <div
          *ngIf="i !== 3 && i !== 5"
          class="bento-box"
          [ngClass]="'box-' + (i + 1)"
          [style.backgroundImage]="'url(' + (place.photoUrl || fallbackImage) + ')'"
          (click)="goToPlace(place.place_id)"
          style="cursor: pointer;"
        >
          <div class="box-overlay">
            <div class="place-name">{{ place.name }}</div>
            <div class="place-address">{{ place.formatted_address || place.vicinity }}</div>
          </div>
        </div>

      </ng-container>
    </div>
  </div>
</div>



