<div class="carousel-container text-center overflow-visible mt-5">
    <div class="carousel">
      <div
        class="carousel-slide"
        *ngFor="let slide of sliderItems; let i = index"
        (mouseenter)="setHoveredIndex(i)"
        [ngStyle]="{ transform: getScale(i), zIndex: getZIndex(i) }"
      >
        <a *ngIf="slide.isDiscover" [routerLink]="['/cocktails']" class="discover-tile">
            <img [src]="slide.image" [alt]="slide.title" />
            <h3>Discover</h3>
        </a>
          
        <ng-container *ngIf="!slide.isDiscover">
          <img [src]="slide.image" [alt]="slide.title" />
          <h3>{{ slide.title }}</h3>
        </ng-container>
      </div>
    </div>
  </div>