$cocktail-radius: 8px;
$cocktail-overlay-gradient: linear-gradient(
  to top,
  rgba(0, 0, 0, 0.9) 0%,
  rgba(0, 0, 0, 0.7) 40%,
  rgba(0, 0, 0, 0.4) 70%,
  rgba(0, 0, 0, 0) 100%
);
$cocktail-text-color: #fff;


.cocktail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 300px;
  gap: 2rem;
  justify-content: center;
  padding: 20px;
  overflow-y: auto;
}

.cocktail-card {
  position: relative;
  overflow: hidden;
  border-radius: $cocktail-radius;

  a.image-link {
    display: block;
    position: relative;
    text-decoration: none;

    img.cocktail-image {
      width: 100%;
      aspect-ratio: 1 / 1; // Mantiene l'immagine quadrata
      object-fit: cover;
      border-radius: $cocktail-radius;
      display: block;
    }

    .cocktail-name-overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 8px 5px;
      background: $cocktail-overlay-gradient;
      color: $cocktail-text-color;
      text-align: center;
      font-weight: bold;
      font-size: 1rem;
      border-bottom-left-radius: $cocktail-radius;
      border-bottom-right-radius: $cocktail-radius;
    }
  }
}

.recommended-label {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    to right,
    #d5710e,
    #dab603
  );
  color: #fff; // bianco per contrasto
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 4px 10px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.5px;
  z-index: 5;
  transition: background-color 0.2s ease-in-out;
}

.recommended-label:hover {
  background-color: rgba(25, 135, 84, 1); // più intenso al passaggio
}
